# ─── Server ───────────────────────────────
PORT=3000

# ─── MySQL ────────────────────────────────
DB_HOST=your-mysql-host
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=perpustakaan

# ─── AWS ──────────────────────────────────
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SESSION_TOKEN=your-session-token
S3_BUCKET=your-s3-bucket-name
